@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html{
    margin: 0;
    height: 100%;
}
body{
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    height: 100%;
}
.img{
  margin-right: 2rem;
  height: 50px;
  width: 50px;
}
.card{
  margin-top: 2rem;
  width: 20rem;
  background:rgba(0,0,0,0.2);
}
.rain{
  background-image: url("img/rain.jpg");
  background-position: center;
  background-size: cover;
}
.overcast{
  background-image: url("img/overcast.jpg");
  background-position: center;
  background-size: cover;
}
.clear{
  background: url("img/sunny.jpg") no-repeat;
  background-position: center;
  background-size: cover;

}
.cloudy{
  background-image: url("img/cloudy.jpg");
  background-position: center;
  background-size: cover;
}
.margin{
  margin: 0px 0px;
}
.content{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city{
  font-size: 2rem;
}
.temp{
  font-size: 4rem;
}

.center{

  display: flex;
  justify-content: center;
}
.centerH{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
